{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Clinic</title>
    <link rel="stylesheet" href="{% static 'MyCss/newstyle.css' %}">
    <link rel="stylesheet" href="{% static 'MyCss/syleclinic.css' %}">
</head>

<body>
    <nav class="navbar background">
        <ul class="navlist">
            <li class="dec">NITKKR  CLINIC</li>
            <li><a href="{% url 'projectclinic' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'patientinfo' %}">PR</a></li>
        </ul>
        <div class="rightnav">
            <img class="img2" src="{% static 'image/first-aid-symbol-picture-id816820042.jpg' %}">
            <div class="dec2">
            <input type="text" name="search" id="search" placeholder="search">
            <button class="btn">Search</button>
            </div>
            
        </div>
    </nav>
    <section style="background-image:url('static/image/clinical-trials-and-methods.jpg');" class="hucsu background1 firstclass1">
        <div class="judges">
        <div class="backi">
        <form class="box box3" action="login" method="post">
            <h1>Doctor Login</h1>
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        </div>
        <div class="backi">
            <form class="box box3" action="login" method="post">
                <h1>Patient Login</h1>
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
            </div>
        </div>
        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
    </section>
    <hr>
    <footer>
        <p class="last">
            Copyright &copy 2027             Laller Health and Lifestyle Limited  -All Rigth Reserved     
        </p>
    </footer> 
</body>

</html>